#cuerpo {
    background-image: url(../imagenes/fondo2.png);
    background-position: cover;
    background-repeat: no-repeat;
    
  }
#aboutme{
  width: 80%;
  margin: auto;
}
#experiencia{
  width: 80%;
  margin: auto;
}

/* #aboutme {
  background-image: url(../imagenes/Section_img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  min-width: 20%;
  background-color: black;
}
 */
